<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h3>Welcome, John Doe
                <!-- <mat-icon style="margin-left: 20px;">notification_important</mat-icon> -->
            </h3>
            <!-- <h4>example@email.com</h4> -->
        </div>
        <!-- <div class="menu">
            <span class="menu-item">How to recycle</span>
            <span class="menu-item">About us</span>
        </div> -->
        <!-- <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL"> -->
    </div>

    <!-- <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2> -->

    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>dashboard</mat-icon>Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"><mat-icon>library_books</mat-icon>Paper Trails</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles"><mat-icon> pie_chart</mat-icon>Assurance</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles"><mat-icon>calendar_today</mat-icon>Reports</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles"><mat-icon>cloud_upload</mat-icon>Upload</a> -->

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>dashboard</mat-icon>Recycling Locator</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/how-to-recycle"><mat-icon>library_books</mat-icon>How to recycle</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/about-us"><mat-icon> pie_chart</mat-icon>About us</a>

    <!-- <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->

</mat-nav-list>