<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="menu">
            <div class="menu-logo">
                <span style="margin-left: 20px;"><a routerLink="/">Recycling Locator</a>  </span>
            </div>
            <div class="menu-item">
                <span class="menu-item-unit"><a routerLink="/how-to-recycle">How to recycle</a></span>
                <span class="menu-item-unit"><a routerLink="/about-us">About us</a></span>
            </div>
        </div>
        

        <!-- <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>

                </li>
            </ul>
        </div> -->
    </mat-toolbar-row>
</mat-toolbar>