ul li {
  list-style: none;
}
.menu{
  display: flex;
  width: 100%;
  flex-direction: row;
}
.menu-item{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 50px;
}
.menu-item-unit{
  margin-left: 15px;
  cursor: pointer;
}
span a{
  text-decoration: none;
  color: white;
}
