<!-- <div class="row heading"> -->
    <p class="heading">We are dedicated to making a positive impact on the environment and our community by providing comprehensive recycling solutions for glass, metal, oil, and textiles. 
        <br>With a firm commitment to sustainability, we have become a trusted partner in the quest to reduce waste and conserve valuable resources.</p>
<!-- </div> -->
<h4 style="color: #3f51b5;padding: 0px 100px;">Instruction on "How to Recycle"</h4>  

<section id="pricing">

    <div class="row">
      <div class="pricing-column col-lg-3 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>GLASS</h3>
          </div>
          <div class="card-body">
            <!-- <h2>Free</h2> -->
            <h5>Collection</h5>
            <p>Collect empty glass bottles and containers at home.</p>
            <h5>Separation</h5>
            <p>Differentiate between clear, green, and brown glass. Place them in separate recycling bins if possible.</p>
            <h5>Rinsing</h5>
            <p>Rinse the glass items to remove any residue or food particles.</p>
            <h5>Labels</h5>
            <p>Remove labels, if possible, to ensure clean recycling.</p>
            <!-- <button class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up</button> -->
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-3 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>METAL</h3>
          </div>
          <div class="card-body">
            <!-- <h2>$49 / mo</h2> -->
            <h5>Collection</h5>
            <p>Collect aluminum cans, steel cans, and other metal items (like small appliances) at home.</p>
            <h5>Cleanliness</h5>
            <p>Make sure metal items are free from non-metal materials, like plastic, rubber, or wood.</p>
            <h5>Compression</h5>
            <p>Flatten or compact metal cans to save space in your recycling bin.</p>
            <!-- <h5>Labels</h5>
            <p></p> -->
            <!-- <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button> -->
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-3">
        <div class="card">
          <div class="card-header">
            <h3>OIL</h3>
          </div>
          <div class="card-body">
            <!-- <h2>$99 / mo</h2> -->
            <h5>Storage</h5>
            <p>If you change your own oil, store used oil in a leak-proof container. Do not mix it with other substances.</p>
            <h5>Filtration</h5>
            <p>Filtering used oil to remove impurities is not usually a home-based task, but it can extend the life of the oil.</p>
            <!-- <h5>Rinsing</h5>
            <p></p>
            <h5>Labels</h5>
            <p></p> -->
            <!-- <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button> -->
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-3">
        <div class="card">
          <div class="card-header">
            <h3>TEXTILE</h3>
          </div>
          <div class="card-body">
            <!-- <h2>$99 / mo</h2> -->
            <h5>Collection</h5>
            <p>Set aside clothing and textiles you no longer need. Avoid discarding them with your regular trash.</p>
            <h5>Quality Control</h5>
            <p>Ensure that textiles are clean and free from contaminants. Damaged or stained clothing can often be recycled too.</p>
            <h5>Donation or Recycling</h5>
            <p>Consider donating gently used clothing to local charities, or find textile recycling drop-off locations in your area.</p>
            <!-- <h5>Labels</h5>
            <p></p> -->
            <!-- <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button> -->
          </div>
        </div>
      </div>

    </div>

  </section>
