<!-- <p>landing-page works!</p> -->
<!-- <h4>Recycling Locator</h4> -->

<h1 style="text-align: center;">Find your sustainable drop off</h1>

<div class="row">
    <div class="col-md-4">
        <div>
            <h1>Select Location</h1>
            <div style="display: flex;">
              <form class="example-form" style="width: 70%;">
                <mat-form-field class="example-full-width" appearance="outline" style="width: 90%;">
                  <mat-label>Select Location</mat-label>
                  <input type="text"
                         placeholder="Pick one"
                         aria-label="Select Cantons"
                         matInput
                         [(ngModel)]="selectedAutoComplete"
                         [formControl]="myControl"
                         [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.address">
                      {{option?.address}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
              <button mat-raised-button color="primary" (click)="showAllRecycleUnit()">Show All</button>
            </div>
        
          <h1>What goods do you want to recycle?</h1>
          <!-- <label id="example-radio-group-label">Pick your favorite season</label> -->
            <!-- <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="favoriteSeason">
            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
            </mat-radio-button>
            </mat-radio-group> -->
            <section class="example-section" [formGroup]="toppings">
              <!-- <h4>Select your toppings:</h4> -->
              <p><mat-checkbox formControlName="glass">Glass</mat-checkbox></p>
              <p><mat-checkbox formControlName="metal">Metal</mat-checkbox></p>
              <p><mat-checkbox formControlName="oil">Oil</mat-checkbox></p>
              <p><mat-checkbox formControlName="textile">Textile</mat-checkbox></p>
            </section>
        </div>
        <div class="submit-button">
            <button mat-raised-button color="primary" (click)="searchRecycleUnit()">Locate Recycle Unit</button>
        </div>
        
            <!-- <div>Your favorite season is: {{favoriteSeason}}</div> -->
    </div>
    <div class="col-md-8">
        <!-- <h1>Find your sustainable drop off</h1> -->
        
        <mat-tab-group>
            <mat-tab label="Map">
                <div id="map"></div>
                <div class="legend">
                  <ul style="display: flex;justify-content:space-around;">
                    <li><span style="background: #B2E160;"></span>1 Recycle Product Option</li>
                    <li><span style="background: #D5BDFF;"></span>2 Recycle Product Option</li>
                    <li><span style="background: #F9C248;"></span>3 Recycle Product Option</li>
                    <li><span style="background: #EA5A76;"></span>All 4 Recycle Product Option</li>
                  </ul>
                </div>
            </mat-tab>
            <mat-tab label="Table">
                <h4>Tabular view</h4>
                <!-- <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">
                      <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef> Weight </th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                      </ng-container>
                      <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> Symbol </th>
                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                   showFirstLastButtons
                                   aria-label="Select page of periodic elements">
                    </mat-paginator>
                  </div> -->
                  <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourceTwo">
                      <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef> Address. </th>
                        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                      </ng-container>
                      <ng-container matColumnDef="glass">
                        <th mat-header-cell *matHeaderCellDef> Glass </th>
                        <td mat-cell *matCellDef="let element">
                          <i class="fa-solid fa-check green" *ngIf="element.glass"></i>
                          <i class="fa-solid fa-xmark red" *ngIf="!element.glass"></i>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="metal">
                        <th mat-header-cell *matHeaderCellDef> Metal </th>
                        <td mat-cell *matCellDef="let element">
                          <i class="fa-solid fa-check green" *ngIf="element.metal"></i>
                          <i class="fa-solid fa-xmark red" *ngIf="!element.metal"></i>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="oil">
                        <th mat-header-cell *matHeaderCellDef> Oil </th>
                        <td mat-cell *matCellDef="let element">
                          <i class="fa-solid fa-check green" *ngIf="element.oil"></i>
                          <i class="fa-solid fa-xmark red" *ngIf="!element.oil"></i>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="textile">
                        <th mat-header-cell *matHeaderCellDef> Textile </th>
                        <td mat-cell *matCellDef="let element">
                          <i class="fa-solid fa-check green" *ngIf="element.textile"></i>
                          <i class="fa-solid fa-xmark red" *ngIf="!element.textile"></i>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="geolocation">
                        <th mat-header-cell *matHeaderCellDef> Geolocation </th>
                        <td mat-cell *matCellDef="let element"> {{element.geolocation.lat}} , {{element.geolocation.long}} </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsTwo"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsTwo;"></tr>
                    </table>
                  
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                   showFirstLastButtons
                                   aria-label="Select page of periodic elements">
                    </mat-paginator>
                  </div>
            </mat-tab>
        </mat-tab-group>
        <!-- <div class="legend">
          <ul style="display: flex;">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
          </ul>
        </div> -->
    </div>
</div>
